body {
	overflow: hidden;
	color: #fff;
	background: #06221c;
}

#mainDiv, #gameCanvas, #ui, #ov {
	position: absolute;
	inset: 0;
}

#ui {
	pointer-events: none;
}

#L, #R {
	position: absolute;
	font: 900 3vmin system-ui;
	padding: 1vmin;
	/*gap: 1vmin;*/
	background: #546;
}

#R {
	right: 0;
	text-align: center;
}

#ov {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 8vmin;
	gap: 8vmin;
}

#msg {
	position: absolute;
	align-self: center;
	font: 900 7vmin arial;
	text-align: center;
	padding: 0 0 6vmin;
}

.m {
	font-size: 2vmin;
}

.s {
	font-size: 3vmin;
}

.l {
	font-size: 5vmin;
}

.e {
	font-size: 7vmin;
}

.x {
	font-size: 9vmin;
}

.g {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1vmin;
	/*padding: 2vmin;*/
}

.on {
	background: #fff;
	color: #103;
	/*box-shadow: 0 0 0 2vmin #fe8;*/
	outline: 3vmin solid #fe8;
	/*margin: 2vmin;*/
}

.cur {
	outline: 2vmin solid #6e6;
	/*outline-offset: 2vmin;*/
}

.in {
	background: #96f4;
	/*margin: 2vmin;*/
	/*padding: 2vmin;*/
}

.if {
	background: #546;
	padding: 2vmin;
	margin: 1vmin;
	/*outline: 2vmin solid #b9f8;*/
}

button {
	padding: 2vmin 4vmin;
	font: 900 4vmin system-ui;
	border: 1vmin solid #fff;
	border-radius: 2vmin;
	cursor: pointer;
	color: #103;
	background: #fd6;
	pointer-events: auto;
}

#msg button {
	font-size: 3vmin;
	padding: 1vmin 2vmin;
	margin: 2vmin;
}
